/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6; /* Improve readability */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 90%; /* Slightly increased for more space on smaller screens */
    max-width: 1200px; /* Set a maximum width to avoid stretching on large screens */
    margin: 0 auto;
}


h1, h2, h3 {
    color: #4CAF50;
}
/* Ensure consistent font sizes */
h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: #4CAF50;
}

a:hover {
    text-decoration: underline;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

/* Sections */
.section {
    padding: 60px 0;
    background-color: #fff;
    margin-bottom: 20px;
}

.section:nth-child(even) {
    background-color: #f9f9f9;
}

.project-list {
    display: block;
/*     flex-wrap: wrap; */
    gap: 20px;
}

.project {
    background-color: #e3e3e3;
    padding: 20px;
    border-radius: 8px;
    width: 80%; /* Ensure project takes up the full width */
    margin-bottom: 20px; /* Add space between project items */
}

.project a {
    display: inline-block;
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}
